# Statistic using Python for Data Science - Part 1

## CHAPTER 2 Pengenalan Numpy dan Pandas

### Load Library
Biasanya pada awal mula sebelum melakukan pengolahan data kita memanggil library yang diinginkan untuk digunakan dalam analisa data, dalam hal ini kita akan memuat numpy dan pandas.

In [1]:
# memuat numpy sebagai np
import numpy as np
 
# memuat pandas sebagai pd
import pandas as pd

### Load Dataset

In [3]:
import pandas as pd
# memuat data bernama 'dataset_statistics.csv' dan memasukkan hasilnya ke dalam 'raw_data'
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')
raw_data

,ID Pelanggan,Nama,Jenis Kelamin,Pendapatan,Produk,Harga,Jumlah,Total,Tingkat Kepuasan
0,1,Arif,1,600000,A,100000,4,400000,2
1,2,Dian,2,1200000,D,250000,4,1000000,2
2,3,Dinda,2,950000,D,250000,3,750000,3
3,4,Fajar,1,400000,A,100000,2,200000,3
4,5,Ika,2,1200000,D,250000,4,1000000,2
5,6,Ilham,1,800000,B,150000,4,600000,3
6,7,Indra,1,950000,B,150000,5,750000,1
7,8,Kartika,2,1100000,E,300000,3,900000,3
8,9,Lestari,2,800000,E,300000,2,600000,1
9,10,Lia,2,1700000,E,300000,5,1500000,1
10,11,Maria,2,600000,A,100000,4,400000,3
11,12,Maya,2,950000,B,150000,5,750000,3
12,13,Mila,2,400000,C,200000,1,200000,2
13,14,Nurul,2,6450000,D,250000,5,1250000,1
14,15,Retno,2,1000000,C,200000,4,800000,2
15,16,Rini,2,800000,B,150000,4,600000,1
16,17,Rizki,1,1200000,C,200000,5,1000000,3
17,18,Sari,2,700000,D,250000,2,500000,1
18,19,Tyas,2,600000,A,100000,4,400000,3
19,20,Wahyu,1,800000,C,200000,3,600000,1

### Inspeksi Data

In [4]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

print (raw_data)
# melihat 10 data pada baris pertama
print (raw_data.head(10))

# melihat 5 data pada baris terakhir
print (raw_data.tail())

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
   ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0             1     Arif              1      600000      A  100000        4
1             2     Dian              2     1200000      D  250000        4
2             3    Dinda              2      950000      D  250000        3
3             4    Fajar              1      400000      A  100000        2
4             5      Ika              2     1200000      D  250000        4
5             6    Ilham              1      800000      B  150000        4
6             7    Indra              1      950000      B  150000        5
7             8  Kartika              2     1100000      E  300000        3
8             9  Lestari              2      800000      E  300000        2
9            10      Lia              2     1700000      E  300000        5

     Total  Tingkat Kepuasan
0   400000                 2
1  1000000                 2
2   750000                 3
3   200000                 3
4  1000000                 2
5   600000                 3
6   750000                 1
7   900000                 3
8   600000                 1
9  1500000                 1
    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
15            16   Rini              2      800000      B  150000        4
16            17  Rizki              1     1200000      C  200000        5
17            18   Sari              2      700000      D  250000        2
18            19   Tyas              2      600000      A  100000        4
19            20  Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1

### Metode Shape

In [5]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# melihat dimensi dari raw_data
print (raw_data.shape)

(20, 9)

In [6]:

# mengambil jumlah data
print (raw_data.shape[0])

20

### Melihat Kolom Dalam Dataset

In [7]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

print(raw_data.columns)

Index(['ID Pelanggan', 'Nama', 'Jenis Kelamin', 'Pendapatan', 'Produk',
       'Harga', 'Jumlah ', 'Total', 'Tingkat Kepuasan'],
      dtype='object')

### Metode Isna

In [8]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

print (raw_data.isna())
print (raw_data.isna().sum())

    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan  Produk  Harga  Jumlah   \
0          False  False          False       False   False  False    False
1          False  False          False       False   False  False    False
2          False  False          False       False   False  False    False
3          False  False          False       False   False  False    False
4          False  False          False       False   False  False    False
5          False  False          False       False   False  False    False
6          False  False          False       False   False  False    False
7          False  False          False       False   False  False    False
8          False  False          False       False   False  False    False
9          False  False          False       False   False  False    False
10         False  False          False       False   False  False    False
11         False  False          False       False   False  False    False
12         False  False          False       False   False  False    False
13         False  False          False       False   False  False    False
14         False  False          False       False   False  False    False
15         False  False          False       False   False  False    False
16         False  False          False       False   False  False    False
17         False  False          False       False   False  False    False
18         False  False          False       False   False  False    False
19         False  False          False       False   False  False    False

    Total  Tingkat Kepuasan
0   False             False
1   False             False
2   False             False
3   False             False
4   False             False
5   False             False
6   False             False
7   False             False
8   False             False
9   False             False
10  False             False
11  False             False
12  False             False
13  False             False
14  False             False
15  False             False
16  False             False
17  False             False
18  False             False
19  False             False
ID Pelanggan        0
Nama                0
Jenis Kelamin       0
Pendapatan          0
Produk              0
Harga               0
Jumlah              0
Total               0
Tingkat Kepuasan    0
dtype: int64

### Metode Describe

In [9]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

print (raw_data.describe)

# Mencari nilai maksimum dari tiap kolom
raw_data.max()

<bound method NDFrame.describe of     ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1  >

ID Pelanggan             20
Nama                  Wahyu
Jenis Kelamin             2
Pendapatan          6450000
Produk                    E
Harga                300000
Jumlah                    5
Total               1500000
Tingkat Kepuasan          3
dtype: object

In [10]:
# Mencari nilai maksimum dari kolom 'Harga'
raw_data['Harga'].max()

300000

In [11]:
# Mencari nilai minimum dari kolom 'Harga'
raw_data['Harga'].min()

100000

### Metode Sum

In [12]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# menghitung jumlah dari semua kolom
print (raw_data.sum())
 
# menghitung jumlah dari semua kolom bertipe data numerik saja
raw_data.sum(numeric_only=True)
 
# menghitung jumlah dari kolom 'Harga' dan 'Pendapatan'
raw_data[['Harga', 'Pendapatan']].sum()

ID Pelanggan                                                      210
Nama                ArifDianDindaFajarIkaIlhamIndraKartikaLestariL...
Jenis Kelamin                                                      34
Pendapatan                                                   23200000
Produk                                           ADDADBBEEEABCDCBCDAC
Harga                                                         3950000
Jumlah                                                             73
Total                                                        14200000
Tingkat Kepuasan                                                   41
dtype: object

Harga          3950000
Pendapatan    23200000
dtype: int64

### Manipulasi Dataframe - Memilih Kolom dan Baris
Terkadang kita hanya ingin melakukan analisa sebagian kecil dari data atau hanya beberapa kolom saja, untuk itu kita dapat melakukan slice-and-dice pada data yang kita punya.

In [13]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# Memilih kolom 'Pendapatan' saja
print (raw_data['Pendapatan'])
 
# Memilih kolom 'Jenis Kelamin' dan 'Pendapatan'
print (raw_data[['Jenis Kelamin', 'Pendapatan']])

0      600000
1     1200000
2      950000
3      400000
4     1200000
5      800000
6      950000
7     1100000
8      800000
9     1700000
10     600000
11     950000
12     400000
13    6450000
14    1000000
15     800000
16    1200000
17     700000
18     600000
19     800000
Name: Pendapatan, dtype: int64
    Jenis Kelamin  Pendapatan
0               1      600000
1               2     1200000
2               2      950000
3               1      400000
4               2     1200000
5               1      800000
6               1      950000
7               2     1100000
8               2      800000
9               2     1700000
10              2      600000
11              2      950000
12              2      400000
13              2     6450000
14              2     1000000
15              2      800000
16              1     1200000
17              2      700000
18              2      600000
19              1      800000

### Metode Loc
Untuk memilih baris, kita dapat menggunakan [m:n] untuk mengambil baris data ke-m sampai ke-(n-1) atau bisa juga menggunakan method loc untuk pemilihan baris yang lebih spesifik.

In [14]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# Mengambil data dari baris pertama (indeks 0) hingga baris ke-9 (indeks 9), yaitu sebanyak 10 baris
print(raw_data[:10])
 
# Mengambil data dari baris ke-4 (indeks 3) hingga baris ke-5 (indeks 4)
print(raw_data[3:5])
 
# Mengambil data dari baris ke-2 (indeks 1), baris ke-4 (indeks 3), dan baris ke-11 (indeks 10)
print(raw_data.loc[[1,3,10]])

# Mengambil kolom 'Jenis Kelamin' dan 'Pendapatan' dari baris ke-2 (indeks 1) hingga baris ke-10 (indeks 9)
print(raw_data[['Jenis Kelamin', 'Pendapatan']][1:10])
 
# Mengambil kolom 'Harga' dan 'Tingkat Kepuasan' dari baris ke-2 (indeks 1), baris ke-11 (indeks 10), dan baris ke-16 (indeks 15)
print(raw_data[['Harga', 'Tingkat Kepuasan']].loc[[1, 10, 15]])

   ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0             1     Arif              1      600000      A  100000        4
1             2     Dian              2     1200000      D  250000        4
2             3    Dinda              2      950000      D  250000        3
3             4    Fajar              1      400000      A  100000        2
4             5      Ika              2     1200000      D  250000        4
5             6    Ilham              1      800000      B  150000        4
6             7    Indra              1      950000      B  150000        5
7             8  Kartika              2     1100000      E  300000        3
8             9  Lestari              2      800000      E  300000        2
9            10      Lia              2     1700000      E  300000        5

     Total  Tingkat Kepuasan
0   400000                 2
1  1000000                 2
2   750000                 3
3   200000                 3
4  1000000                 2
5   600000                 3
6   750000                 1
7   900000                 3
8   600000                 1
9  1500000                 1
   ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
3             4  Fajar              1      400000      A  100000        2
4             5    Ika              2     1200000      D  250000        4

     Total  Tingkat Kepuasan
3   200000                 3
4  1000000                 2
    ID Pelanggan   Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
1              2   Dian              2     1200000      D  250000        4
3              4  Fajar              1      400000      A  100000        2
10            11  Maria              2      600000      A  100000        4

      Total  Tingkat Kepuasan
1   1000000                 2
3    200000                 3
10   400000                 3
   Jenis Kelamin  Pendapatan
1              2     1200000
2              2      950000
3              1      400000
4              2     1200000
5              1      800000
6              1      950000
7              2     1100000
8              2      800000
9              2     1700000
     Harga  Tingkat Kepuasan
1   250000                 2
10  100000                 3
15  150000                 1

## CHAPTER 3 Ukuran Pusat

### Rata-rata (Mean)

In [15]:
import numpy as np
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# mengambil hanya data untuk produk 'A'
produk_A = raw_data[raw_data['Produk'] == 'A']
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame
print(produk_A['Pendapatan'].mean())
 
# menghitung rerata pendapatan menggunakan method .mean pada objek pandas DataFrame dengan numpy
print(np.mean(produk_A['Pendapatan']))

550000.0
550000.0

### Median

In [16]:
import numpy as np
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')
produk_A = raw_data[raw_data['Produk'] == 'A']

print (raw_data)
# Hitung median dari pendapatan menggunakan pandas
print (produk_A['Pendapatan'].median())
 
# Hitung median dari pendapatan menggunakan numpy
print (np.median(produk_A['Pendapatan']))

    ID Pelanggan     Nama  Jenis Kelamin  Pendapatan Produk   Harga  Jumlah   \
0              1     Arif              1      600000      A  100000        4
1              2     Dian              2     1200000      D  250000        4
2              3    Dinda              2      950000      D  250000        3
3              4    Fajar              1      400000      A  100000        2
4              5      Ika              2     1200000      D  250000        4
5              6    Ilham              1      800000      B  150000        4
6              7    Indra              1      950000      B  150000        5
7              8  Kartika              2     1100000      E  300000        3
8              9  Lestari              2      800000      E  300000        2
9             10      Lia              2     1700000      E  300000        5
10            11    Maria              2      600000      A  100000        4
11            12     Maya              2      950000      B  150000        5
12            13     Mila              2      400000      C  200000        1
13            14    Nurul              2     6450000      D  250000        5
14            15    Retno              2     1000000      C  200000        4
15            16     Rini              2      800000      B  150000        4
16            17    Rizki              1     1200000      C  200000        5
17            18     Sari              2      700000      D  250000        2
18            19     Tyas              2      600000      A  100000        4
19            20    Wahyu              1      800000      C  200000        3

      Total  Tingkat Kepuasan
0    400000                 2
1   1000000                 2
2    750000                 3
3    200000                 3
4   1000000                 2
5    600000                 3
6    750000                 1
7    900000                 3
8    600000                 1
9   1500000                 1
10   400000                 3
11   750000                 3
12   200000                 2
13  1250000                 1
14   800000                 2
15   600000                 1
16  1000000                 3
17   500000                 1
18   400000                 3
19   600000                 1
600000.0
600000.0

### Modus

In [17]:
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# Melihat jumlah dari masing-masing produk
print(raw_data['Produk'].value_counts())

D    5
A    4
B    4
C    4
E    3
Name: Produk, dtype: int64

### Kuantil
Kuantil adalah nilai-nilai data yang membagi data yang telah diurutkan sebelumnya menjadi beberapa bagian yang sama besar ukurannya. Beberapa ukuran fraktil ini diantaranya adalah:

- Kuartil: Adalah kuantil yang membagi data menjadi empat bagian sama besar. Kuartil ke-2 dari adalah median dari data tersebut.
- Desil: Adalah kuantil yang membagi data menjadi 10 bagian sama besar.
- Persentil: Adalah kuantil yang membagi data menjadi 100 bagian sama besar.
Untuk mencari fraktil dari data, kita dapat menggunakan method .quantile dari pandas atau numpy sebagaimana contoh berikut:

In [18]:
import numpy as np
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# mencari median atau 50% dari data menggunakan pandas
print(raw_data['Pendapatan'].quantile(q = 0.5))
 
# mencari median atau 50% dari data menggunakan numpy
print(np.quantile(raw_data['Pendapatan'], q=0.5))

875000.0
875000.0

### Agregasi Data dengan method .agg()
Ada kalanya kita ingin menghitung sekaligus beberapa ukuran, misalnya menghitung nilai mean sekaligus menghitung nilai median. Kita dapat melakukan kedua hal tersebut dengan menggunakan method .agg() pada objek pandas DataFrame sebagaimana contoh berikut:

In [19]:
import numpy as np
import pandas as pd
raw_data = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dataset_statistic.csv", sep=';')

# menghitung rerata dan median 'Pendapatan' dan 'Harga'
print(raw_data[['Pendapatan', 'Harga']].agg([np.mean, np.median]))

        Pendapatan     Harga
mean     1160000.0  197500.0
median    875000.0  200000.0

In [20]:
# menghitung rerata dan median Pendapatan dan Harga dari tiap produk
print(raw_data[['Pendapatan', 'Harga', 'Produk' ]].groupby('Produk').agg([np.mean, np.median]))

       Pendapatan                Harga
             mean     median      mean    median
Produk
A        550000.0   600000.0  100000.0  100000.0
B        875000.0   875000.0  150000.0  150000.0
C        850000.0   900000.0  200000.0  200000.0
D       2100000.0  1200000.0  250000.0  250000.0
E       1200000.0  1100000.0  300000.0  300000.0